body, #root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.tinyLogo {
    width: 110px;
    height: 159.43px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.input {
    border-radius: 10px;
    color: #000000;
    background-color: #F6EDF3;
    border: 1px solid #DD9191;
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 500px;
}

.customer-choice-radio {
    width: calc(100% - 20px);
    padding: 20px 10px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    margin: 10px 0;
}

.image {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 20px;
    width: 80%;
    max-width: 500px
}

.simetriaName  {
    font-weight: bold;
    color: #3F3D3D;
    font-size: 16px;
}

.inputForm {
    width: 35%;
}

.label {
    margin-top: 20px
}

.mainButton {
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    background-color: #3F3D3D;
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
    color:#FFFFFF;
    font-weight:bold;
    font-size: 16px;
    cursor: pointer;
}

.secondaryButton {
    display: flex;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #895656;
    width: 80%;
    max-width: 300px;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 10px 0;
    color:#000000;
    font-weight:bold;
    font-size: 16px;
}

.background {
    flex-grow: 1;
    background-color: #F0D4D4;
    align-items: center;
    height: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    justify-content: center;
}
.horizontal {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.register {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    max-width: 500px;
}
.h2 {
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
}
.anchor {
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}
.imageGoogle {
    height: 25px;
    width: 25px;
}
.cards-times {
    padding: 20px 0 30px;
    margin: 0 20px;
}
.cards-times:not(:last-child) {
    font-size: 24px;
    font-weight: 600;
    width: fit-content;
    border-bottom: #895656 1px dashed;
}

.professional-times {
    font-size: 24px;
    font-weight: 600;
    width: fit-content;
}

.professional-times
.available-times {
    display: flex;
    padding: 15px;
    max-width: 440px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.times {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 500px;
    padding-top: 20px;
}
.time-card {
    padding: 10px;
    background-color: #3F3D3D;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
}
.time-card:hover {
    cursor: pointer;
}
.time {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    width: fit-content;
}
.infos {
    border-radius: 10px;
    background-color: #F6EDF3;
    border: 1px solid #DD9191;
    width: 80%;
    max-width: 500px;
    padding: 10px;
}
.service {
    color: #000000;
    font-size: 15px;
}
.title {
    align-self: center;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.errorMessage {
    color: #A7050C;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 20px;
    display: flex;
    width: 100%;
}
.inputLabel {
    font-size: 15px;
    font-weight: 500;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.optionMenu {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}

.option  {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    align-items: center;
    justify-content: center;
}
.menuOptions {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.label-float {
    position: relative;
    padding-top: 13px;
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
}

.label-float input{
    border: 1px solid #DD9191;
    padding: 20px 30px 6px 10px;
    /* border-bottom: 2px solid lightgrey; */
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    border-radius: 10px;
    width: calc(100% - 40px);
}

.label-float input:focus{
    border: 1px solid #ce3dae;
}

.label-float input::placeholder{
    color:transparent;
}

.label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin-top: 15px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid + label{
    color: red;
}

.label-float input:focus:required:invalid{
    border-bottom: 2px solid red;
}

.label-float input:required:invalid:before + label {
    content: '*';
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
    margin-top: 5px;
    font-size: 13px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 5px;
}

.container-form-not-allowed {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 5px;
}

.not-allowed-label {
    text-align: center;
}

.mainButton:disabled, .secondaryButton:disabled {
    opacity: 0.3;
    cursor: default;
}

.service-summary {
    width: calc(100% - 20px);
    background-color: #F0D4D4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #F6EDF3;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px 0;
}

.h2 {
    font-size: 2rem;
    font-weight: 900;
}

.summary-prices {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

.user p {
    margin: 0;
}

.card-reserves {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.logout {
    cursor: pointer;
    margin-left: 5px;
    color: black;
    font-size: 15px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    font-weight: 600;
}
.logout:hover {
    /* background-color: #3F3D3D; */
    opacity: 0.9;
    /* color: white; */
}

.user-login {
    display: flex;
    flex-direction: column;
}

.register-link {
    justify-content: flex-start;
}

.home-link {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 10px;
}

.home-link:hover {
    background-color: #FFFFFF;
}

.logout-google {
    margin-left: 5px
}

.logout-google:hover {
    margin-left: 5px;
    color: white;
}

.logout-google > span {
    padding: 5px!important;
    color: black;
    font-weight: 600!important;
}

.header-link {
    text-decoration: none;
}

.options-modal {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

footer {
    background: #5c5a5a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

footer > div> .title, footer > div > p {
    color: #FFFFFF;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px;
}

h1.error-404 {
    font-size: 5rem;
}

.social-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.not-found-link {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 10px;
}

.not-allowed-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .not-allowed-options {
        flex-direction: column;
}
}

.tag-paid {
    background-color: #27c327;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .container-form {
        width: 90%;
        padding: 40px 20px;
    }
}